<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
>
    <!-- MBean -->
    <bean name="test:name=Hello" class="example.chapter9.Hello" />

    <!-- 监听器 -->
    <bean id="helloListener" class="example.chapter9.HelloNotificationListener" />

    <!-- 启动RmiRegistry -->
    <bean id="registry" class="org.springframework.remoting.rmi.RmiRegistryFactoryBean">
        <property name="port" value="1099"/>
    </bean>

    <!-- 启动基于RMI的Connector -->
    <bean name="connector:name=rmi"
        class="org.springframework.jmx.support.ConnectorServerFactoryBean">
        <property name="serviceUrl"
            value="service:jmx:rmi://localhost/jndi/rmi://localhost:1099/myconnector" />
    </bean>

    <!-- 启动HTML Adaptor -->
    <bean name="adaptor:name=html" class="com.sun.jdmk.comm.HtmlAdaptorServer" init-method="start">
        <property name="port" value="8080" />
    </bean>

    <!-- 自动完成MBean的注册 -->
    <bean id="exporter" lazy-init="false"
        class="org.springframework.jmx.export.MBeanExporter">
        <property name="autodetect" value="true" />
<!--
        <property name="notificationListenerMappings">
            <map>
                <entry key="test:name=Hello" value-ref="helloListener" />
            </map>
        </property>
-->
        <property name="notificationListeners">
            <list>
                <bean class="org.springframework.jmx.export.NotificationListenerBean">
                    <property name="notificationListener" ref="helloListener"/>
                    <property name="notificationFilter" ref="helloListener"/>
                    <property name="mappedObjectName" value="test:name=Hello" />
                </bean>
            </list>
        </property>
    </bean>

</beans>
