<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
>

    <bean id="resourceBean" class="example.chapter3.ResourceBean">
        <property name="urlResource" value="http://www.javaeedev.com/" />
        <property name="classpathResource" value="classpath:config.xml" />
        <property name="fileResource" value="C:/WINDOWS/NOTEPAD.EXE" />
    </bean>

</beans>
