<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory name="Bookstore">
		<!-- properties -->
		<!-- using jndi
		<property name="connection.datasource">java:comp/env/jdbc/bookstore</property>
		-->
		<!-- using build-in connection pool -->
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.url">jdbc:hsqldb:hsql://localhost/bookstore</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>

		<property name="dialect">com.crackj2ee.bookstore.hibernate.CustomSQLDialect</property>
		<property name="show_sql">true</property>
		<property name="use_outer_join">false</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<!-- property name="current_session_context_class">thread</property -->

		<!-- mapping files -->
		<mapping package="com.crackj2ee.bookstore.domain"/>

		<mapping class="com.crackj2ee.bookstore.domain.Account"/>
		<mapping class="com.crackj2ee.bookstore.domain.Book"/>
		<mapping class="com.crackj2ee.bookstore.domain.Category"/>
		<mapping class="com.crackj2ee.bookstore.domain.Comment"/>
		<mapping class="com.crackj2ee.bookstore.domain.FavoriteBook"/>
		<mapping class="com.crackj2ee.bookstore.domain.Order"/>
		<mapping class="com.crackj2ee.bookstore.domain.OrderItem"/>

        <!-- register validator event -->
        <event type="pre-update">
            <listener class="org.hibernate.validator.event.ValidatePreUpdateEventListener"/>
        </event>
        <event type="pre-insert">
            <listener class="org.hibernate.validator.event.ValidatePreInsertEventListener"/>
        </event>

	</session-factory>
</hibernate-configuration>
