<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!--
  - Hibernate配置文件：hibernate.cfg.xml
  - 这个文件不是运行LiveBookstore必须的，Spring的配置文件中已经包含了所有的Hibernate配置
  - 编写这个文件的目的是为了生成DDL以及在Eclipse中使用HibernateTools插件调试HQL
  -->

<hibernate-configuration>
    <session-factory name="Bookstore">
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="connection.url">
            jdbc:mysql://localhost:3306/bookstore
        </property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>
        <property name="dialect">
            org.hibernate.dialect.MySQL5Dialect
        </property>
        <property name="hibernate.cache.provider_class">
            org.hibernate.cache.HashtableCacheProvider
        </property>

        <mapping package="net.livebookstore.domain"/>
        <mapping class="net.livebookstore.domain.Account"/>
        <mapping class="net.livebookstore.domain.Book"/>
        <mapping class="net.livebookstore.domain.Category"/>
        <mapping class="net.livebookstore.domain.Comment"/>
        <mapping class="net.livebookstore.domain.FavoriteBook"/>
        <mapping class="net.livebookstore.domain.Order"/>
        <mapping class="net.livebookstore.domain.OrderItem"/>
    </session-factory>
</hibernate-configuration>
